<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var blogs = [];
            $("#getBlogs").click(function () {
                $('#blogList').empty();
                let selected = $('#optionsFilter option:selected').val()
                // let desc= $('#optionsFilter option[value="Descending"]')
                console.log(selected)
                $.get(`http://localhost:4000/blogs/all?sort=${selected}`, function (blogs) {
                    blogs.forEach((blog) => {
                        $("#blogList").append("<li>" + "Id#" + blog.id + ' Title:' + blog.title + '-' + 'Text:' + blog.text + "Author: " + blog.author + "</li>");
                    });
                });
            });
        });
    </script>
</head>

<body>
    <h1>Display Blogs</h1>
    <h2>
        <a href="http://localhost:4000/blogs/display-blogs">Display Blogs</a>
        <a href="http://localhost:4000/blogs/display-single-blog">Display Single Blog</a>
        <a href="http://localhost:4000/blogs/post-blog">Edit and create blog</a>
    </h2>
    <select id="optionsFilter">
        <option value="asc" selected>Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <button id="getBlogs">Get Blogs</button>
    <ul id="blogList"></ul>

</body>

</html>