<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            jQuery.each(["put", "delete"], function (i, method) {
                jQuery[method] = function (url, data, callback, type) {
                    if (jQuery.isFunction(data)) {
                        type = type || callback;
                        callback = data;
                        data = undefined;
                    }

                    return jQuery.ajax({
                        url: url,
                        type: method,
                        dataType: type,
                        data: data,
                        success: callback
                    });
                };
            });
            var blogId;
            $("#getSingleBlog").click(function () {
                blogId = $("#blogId").val();
                $.get(
                    "http://localhost:4000/blogs/single-blog/" + blogId,
                    function (blog) {
                        $("#blogTitle").html(blog.title)
                        $("#blogAuthor").html(blog.author)
                        $("#blogText").html(blog.text)
                    }
                );
            });
            $("#deleteSingleBlog").click(function () {
                blogId = $("#blogId").val();
                // console.log(blogId.val())
                $.delete('http://localhost:4000/blogs/delete-blog/' + blogId, function (res) {
                    console.log('response', res)
                });

            })
        });
    </script>
</head>

<body>
    <h1>Single Blog</h1>
    <h2>
        <a href="http://localhost:4000/blogs/display-blogs">Display Blogs</a>
        <a href="http://localhost:4000/blogs/display-single-blog">Display Single Blog</a>
        <a href="http://localhost:4000/blogs/post-blog">Edit and create blog</a>
    </h2>
    <span>
        <label>Blog ID</label>
        <input id="blogId" type="text" />
    </span>
    <button id="getSingleBlog">Get Single Blog</button>
    <button id="deleteSingleBlog">Delete Single Blog</button>
    <div>
        <p id="blogTitle"></p>
        <p id="blogAuthor"></p>
        <p id="blogText"></p>
    </div>
</body>

</html>