<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var blogs = [];
            // let authors = []
            $(window).load(function () {
                $('#authorSelect').empty();
                $.get('http://localhost:4000/blogs/authors', function (res) {
                    // console.log('')
                    res.forEach((author) => {
                        $('#authorSelect').append(`<option value='${author}'>${author}</option>`)
                    })
                    // console.log(res)
                })
            })
            $("#sortBlogs").click(function () {
                $('#blogList').empty();
                let selected = $('#optionsFilter option:selected').val()
                // let authorFilter= $('#authorSelect option:selected').val()
                // console.log(authorFilter)
                $.get(`http://localhost:4000/blogs/all?sort=${selected}`, function (blogs) {
                    blogs.forEach((blog) => {
                        $("#blogList").append("<li>" + "Id#" + blog.id + ' Title:' + blog.title + '-' + 'Text:' + blog.text + "Author: " + blog.author + "</li>");
                    });
                });
            });
            $("#filterBlogs").click(function () {
                $('#blogList').empty();
                // let selected = $('#optionsFilter option:selected').val()
                let authorFilter = $('#authorSelect option:selected').val()
                // console.log(authorFilter)
                $.get(`http://localhost:4000/blogs/all?filter=${authorFilter}`, function (blogs) {
                    blogs.forEach((blog) => {
                        $("#blogList").append("<li>" + "Id#" + blog.id + ' Title:' + blog.title + '-' + 'Text:' + blog.text + "Author: " + blog.author + "</li>");
                    });
                });
            });
        });
    </script>
</head>

<body>
    <h1>Display Blogs</h1>
    <h2>
        <a href="http://localhost:4000/blogs/display-blogs">Display Blogs</a> -
        <a href="http://localhost:4000/blogs/display-single-blog">Display/Delete Single blog</a> -
        <a href="http://localhost:4000/blogs/post-blog">Create/Update blog</a>
    </h2>
    <select id="optionsFilter">
        <option value="asc" selected>Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <button id="sortBlogs">Get Sorted Blogs</button>
    <label>Filter By Author</label>
    <select id="authorSelect" >
        <!-- <option value="asc" selected>Ascending</option> -->

    </select>
    <button id="filterBlogs">Get Filtered Blogs</button>

    <ul id="blogList"></ul>
    
</body>

</html>