<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            jQuery.each(["put", "delete"], function (i, method) {
                jQuery[method] = function (url, data, callback, type) {
                    if (jQuery.isFunction(data)) {
                        type = type || callback;
                        callback = data;
                        data = undefined;
                    }

                    return jQuery.ajax({
                        url: url,
                        type: method,
                        dataType: type,
                        data: data,
                        success: callback
                    });
                };
            });
            var title, text, author, blogId;
            $("#submit").click(function () {
                title = $("#title").val();
                text = $("#text").val();
                author = $("#author").val();
                $.post(
                    "http://localhost:4000/blogs/submit",
                    { title: title, text: text, author: author }
                );
            });
            $('#update').click(function () {
                blogId = $('#blog-id').val();
                title = $("#title").val();
                text = $("#text").val();
                author = $("#author").val();
                $.put('http://localhost:4000/blogs/update-blog/' + blogId, {
                    title: title,
                    text: text,
                    author: author
                })
            })
        });

    </script>
</head>

<body>
    <h1>Add New Blog</h1>
    <h2>
        <a href="http://localhost:4000/blogs/display-blogs">Display Blogs</a>
        <a href="http://localhost:4000/blogs/display-single-blog">Display Single Blog</a>
        <a href="http://localhost:4000/blogs/post-blog">Edit and create blogs</a>
    </h2>
    <label>Blog Title</label>
    <input id="title" size="100" type="text" />
    <label>Blog Text</label>
    <input id="text" size="100" type="text" />
    <label>Blog Author</label>
    <input id="author" size="40" type="text" />
    <input id="submit" type="button" value="Submit" />
    <p><label>Blog ID to UPDATE</label> <input id="blog-id" size="40" type="text" /></p>
    <button id="update" type="button">Update</button>
</body>

</html>